---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <div class="wrap">
    {% include components/header.html %}
    {% include icons/icons.html %}
    <!-- {% include components/sidebar.html %} -->
    <div class="main" id="top"></div>
      <div class="row">
        <div class="col-md-3 side-navigation">
          {% include components/sidebar_default.html %}
        </div>
        <div class="col-md-9 col-lg-6 spacer-30 docs-content">
          <div class="main-content-wrap">
            {% include components/breadcrumbs.html %}
            <div id="main-content" class="main-content">
              <main>
                {% if site.heading_anchors != false %}
                  {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
                {% else %}
                  {{ content }}
                {% endif %}
    
                {% if page.has_children == true and page.has_toc != false %}
                  {% include components/children_nav.html %}
                {% endif %}
              </main>
              {% include components/footer.html %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 toc-styles d-none d-lg-block" style="padding: 5rem 1rem;">
          <div>
            <div class="feedback-container">
            <div class="feedback-thumbs">
              <p>Is the information on this page helpful?</p>
              <div class="thumb-wrapper">
                <p class="feedback-option" title="yes"><i class="fa fa-thumbs-up"></i>Yes</p>
                <p class="feedback-option" title="no"><i class="fa fa-thumbs-down"></i>No</p>
              </div>
            </div>
            <div class="feedback-message">
              <textarea class="feedback-body" placeholder="Additional feedback"></textarea>
              <button type="button" onclick="alert('Great')" class="btn btn-sm btn-primary">Submit</button>
              <a onclick="alert('skipped')" class="feedback-skip">Skip</a>
            </div>
          </div>

        </div>
       
        {% if site.search_enabled != false %}
          {% include components/search_footer.html %}
        {% endif %}
      </div>
    </div>
    

    {% if site.mermaid %}
      {% include components/mermaid.html %}
    {% endif %}

  </div>
</body>
</html>
